@use "../../../Styles/Variables.scss" as *;
.TableBoxP {
  width: calc(100% - 240px) !important;
  margin-left: auto !important;
  margin-right: 25px !important;
  margin-bottom: 35px !important;
  padding: 0px !important;
  box-sizing: border-box !important;
  overflow: hidden;
}
