
$color-primary: #3b82f6;       
$color-text-dark: #1e293b;     
$color-text-muted: #64748b;    
$color-border-light: #e2e8f0;  
$color-bg-light: #f8fafc;    

// 2. STATUS TAG COLORS 
$color-success: #10b981;       
$color-danger: #ef4444;       
$color-warning: #f59e0b;     

// 3. TYPOGRAPHY SYSTEM

$font-weight-normal: 400;
$font-weight-medium: 500;      
$font-weight-semibold: 600;  
$font-family-base:"Inter", system-ui, -apple-system, sans-serif; 

// 4. INTERACTIVE COMPONENT PROPERTIES
$radius-button: 8px;        
$radius-card: 12px;    
$transition-default: all 0.2s ease-in-out;


// 1. Typography / Font Settings


$professional-font: 'Times New Roman', Times, Baskerville, Georgia, serif;
$font-sans-modern: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-sans-corporate: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
$font-monospace-data: 'Courier New', Courier, monospace;

$font-size-title: 24px;
$font-size-subtitle: 18px;
$font-size-body: 14px;
$font-size-small: 12px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// 2. Theme Colors
$color-primary-blue: #1976d2;
$color-secondary-purple: #9c27b0;
$color-text-dark: #1e293b;
$color-text-secondary: #64748b;

// 3. Background Colors
$color-bg-main: #ffffff;
$color-bg-card: #ffffff;
$color-bg-item-modal: #f9f9f9;
$color-bg-payment-success: #f0fdf4;
$color-bg-payment-unpaid: #fef2f2;


$layout-top-origin: 0;
$layout-left-origin: 0;
$invoice-padding-gap: 20px; // Safely screen window boundaries gap
$layer-top-priority: 999;

$layer-top-priority: 999;
$font-size-data: 16px; 
$text-color-muted: #555555; 
$color-table-data-text: #2c3e50; 

$color-table-header-text: #111111; 
$font-weight-header: 600; 




@mixin standard-btn {
  width: auto !important;
  padding: 8px 16px !important;
  white-space: nowrap !important;
}

@mixin drop-down{
    width: 250px !important;
    bgcolor: "white" !important;
     margin-right:20px !important;
}

@mixin push-down-5px {
  margin-top: 20px !important;
}

//kpiData
$kpi-card-padding: 8px 35px;  
$spacing-xs: 2px;
$color-purple:rgb(138, 5, 138);
$color-blue:rgb(13, 166, 226);


//centre align
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

//ellipsis
@mixin single-line-dot($gap-bottom: 30px) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: $gap-bottom;
}

